<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>.manycalls</title>

  <!-- BOOTSTRAP -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- STATIC -->
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">.manycalls</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <div class="container">
    <form class="" method="post">
      <div class="form-group row">
        <label for="phones" class="col-sm-4 col-form-label">Номера(в формате: 79193472749 79172825656):</label>
        <div class="col text-end">
          <input type="text" name="phones" class="form-control">
        </div>
      </div>

      <div class="form-group row">
        <label for="captchaToken" class="col-sm-4 col-form-label">Токен с CaptchaGuru:</label>
        <div class="col text-end">
          <input type="text" name="captchaToken" class="form-control">
        </div>
      </div>

      <div class="form-group row">
        <label for="captchaToken" class="col-sm-4 col-form-label">Прокси(можно оставить пустым):</label>
        <div class="col text-end">
          <input type="text" name="proxy" class="form-control">
        </div>
      </div>

      <div class="form-group row">
        <div class="col text-center">
          <button type="submit" class="btn btn-primary" style="margin-top: 25px;">Send</button>
        </div>
      </div>

    </form>
  </div>

</body>
</html>
